@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.appContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.timeframesButtons{
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.timeFrameButton{
    color: #69f09f;
    border: solid 1px #69f09f;
    font-size: 20px;
    padding: 5px;
    width: 120px;
    background-color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

.active{
    background-color: #69f09f;
    color: #fff;
}

.barchart{
    width: 700px;
}

p{
    font-size: 20px;
    text-align: center;
}

.saveBtn{
    background-color: #64db30;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: #fff;
    border-radius: 10px;
    width: 150px;
}

@media (max-width: 767px){
    .appContainer{
        padding: 10px;
    }

    .barchart{
        width: 350px;
        height: 300px;
    }

    .timeframesButtons{
        width: 100%;
        gap: 5px;
    }

    .timeFrameButton{
        font-size: 15px;
        padding: 10px;
    }
}